<script>
    $(window).bind("load", function () {
        var delay = 5000;

        setTimeout(function () {
            $('.splash').css('display', 'none');
        }, delay);
    });
</script>
<ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
</ul>